<ng-container>
  <!-- https://getbootstrap.com/docs/4.3/components/card/ -->
  <div class="container">
    <div class="card text-center mb-lg-5 ">
      <div class="card-header">
        {{post.author.username}}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.body}}</p>
      </div>
      <div class="card-footer text-muted">
        <p>  {{main.formatDate(post.created_at)}} </p>
        <button type="button" class="btn btn-outline-danger m-1" (click)="deletePost(post.id)">Delete</button>
        <button type="button" class="btn btn-outline-primary m-1" (click)="changeMode('update_post')">Update</button>
        <button type="button" class="btn btn-danger">
          Likes <span class="badge badge-light">{{post.post_likes}}</span>
        </button>
        <button type="button" class="btn btn-info">
          Comments <span class="badge badge-light">{{post.post_comments}}</span>
        </button>
      </div>
      <ng-container *ngIf="mode=='update_post'">
        <h5>Update Post {{post.title}}</h5>
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Enter title" value="{{post.title}}" [(ngModel)]="title">
          <label>Body</label>
          <input type="text" class="form-control" placeholder="Enter body" value="{{post.body}}" [(ngModel)]="body">
          <button type="submit" class="btn btn-outline-dark m-2" (click)="updatePost()">Update</button>
        </div>
      </ng-container>
    </div>
  </div>

  <div class="container">
    <div class="card text-center mb-lg-5 "  *ngFor="let icomment of post.comments">
      <div class="card-body">
        <h5 class="card-title">{{icomment.author.username}}</h5>
        <p class="card-text">{{icomment.text}}</p>
        <button type="button" class="btn btn-danger">
          Likes <span class="badge badge-light">{{icomment.comment_likes}}</span>
        </button>
      </div>
    </div>
  </div>

  <form *ngIf="provider.isAuthenticated()" >
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Leave a comment</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="text"  [ngModelOptions]="{standalone:true}"></textarea>
      <button type="submit" class="btn btn-primary mb-2" (click)="createComment()">Comment!</button>
    </div>
  </form>


</ng-container>
