<ng-container>
  <!-- https://getbootstrap.com/docs/4.3/components/card/ -->
  <div class="container">

      <div class="jumbotron">
          <h1 class="display-4">{{post.title}}</h1>
          <p class="lead">{{post.body}}</p>
          <hr class="my-4">
          <p>Created by {{post.author.username}}</p>
          <ul class="list-unstyled list-inline font-small">
              <li class="list-inline-item pr-2  white-text"><i class="far fa-clock pr-1"></i>{{main.formatDate(post.created_at)}}</li>
              <li class="list-inline-item pr-2 "><i class="far fa-heart pr-1"></i>{{post.post_likes}}</li>
              <li class="list-inline-item pr-2 "><i class="far fa-comments pr-1"></i>{{post.post_comments}}</li>
          </ul>
          <p class="lead">
            <button type="button" class="btn btn-outline-danger m-1" (click)="deletePost(post.id)">Delete</button>
            <button type="button" class="btn btn-outline-primary m-1" (click)="changeMode('update_post')">Update</button>
          </p>
        </div>
  
      <ng-container *ngIf="mode=='update_post'">
        <h5>Update Post {{post.title}}</h5>
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Enter title" value="{{post.title}}" [(ngModel)]="title">
          <label>Body</label>
          <input type="text" class="form-control" placeholder="Enter body" value="{{post.body}}" [(ngModel)]="body">
          <button type="submit" class="btn btn-outline-dark m-2" (click)="updatePost()">Update</button>
        </div>
      </ng-container>
  </div>

  <div class="container">
    <div class="card text-center mb-lg-5 "  *ngFor="let icomment of post.comments">
      <div class="card-body">
        <h5 class="card-title">User {{icomment.author.username}}</h5>
        <p class="card-text">{{icomment.text}}</p>
        <p><i class="far fa-heart pr-1"></i>{{icomment.comment_likes}}</p>
      </div>
    </div>
  </div>

  <form *ngIf="provider.isAuthenticated()" >
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Leave a comment</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="text"  [ngModelOptions]="{standalone:true}"></textarea>
      <button type="submit" class="btn btn-primary mb-2" (click)="createComment()">Comment!</button>
    </div>
  </form>


</ng-container>
